@import url(/src/variables.less);

:host{
  display: block;
}

.sec1{
  display: flex;
}

.photo{
  width: 200px;
  height: 200px;
}

.name{
  font-size: 20px;
  color: @theme;
  font-weight: bold;
}
