<div class="sec sec1">
  <img src="https://www.baidu.com/img/PCtm_d9c8750bed0b3c7d089fa7d55720d6cf.png" alt="" class="photo">
  <div class="info" *ngIf="user">
    <div class="name">{{user.name}}</div>
    <div class="user-info">
      <div class="info-item">
        <div class="info-title">上次登录：</div>
        <div class="info-content">{{user.lastTime | date:'yyyy-MM-dd'}}</div>
      </div>
      <div class="info-item">
        <div class="info-title">注册时间：</div>
        <div class="info-content">{{user.createTime | date:'yyyy-MM-dd'}}</div>
      </div>
      <div class="info-item">
        <div class="info-title">性别：</div>
        <div class="info-content">{{user.gender |label:optSvc.genderOpts}}</div>
      </div>
      <div class="info-item">
        <div class="info-title">生日：</div>
        <div class="info-content">{{user.birthday | date:'yyyy-MM-dd'}}</div>
      </div>
      <div class="info-item">
        <div class="info-title">婚恋：</div>
        <div class="info-content">{{user.status | label:optSvc.estatusOpts}}</div>
      </div>
      <div class="info-item">
        <div class="info-title">教育程度：</div>
        <div class="info-content">{{user.education | label:optSvc.educationOpts}}</div>
      </div>
      <div class="info-item">
        <div class="info-title">身高：</div>
        <div class="info-content">{{user.height}} cm</div>
      </div>
      <div class="info-item">
        <div class="info-title">体重：</div>
        <div class="info-content">{{user.weight}} kg</div>
      </div>
      <div class="info-item">
        <div class="info-title">所在地：</div>
        <div class="info-content">{{user.location}}</div>
      </div>
      <div class="desc-item">
        <div class="desc-title">个人简介：</div>
        <div class="desc-content">{{user.description ?? '-'}}</div>
      </div>
    </div>
  </div>
</div>
<div class="sec sec2">
  <nz-tabset [nzAnimated]="false" [nzTabBarExtraContent]="extraTemplate">
    <nz-tab nzTitle="此刻">
      <div class="tab-wrapper">
        <div *ngFor="let item of thoughts" class="thought-wrapper">
          <img class="avatar-s mr16" src="https://www.baidu.com/img/PCtm_d9c8750bed0b3c7d089fa7d55720d6cf.png" alt="">
          <div>
            <span class="thought-content">{{item.content}}</span>
            <span class="thought-time">{{item.createTime | date:'yyyy-MM-dd HH:mm:ss'}}</span>
          </div>
          <div class="thought-btns">
            <button nz-button nzDanger nzType="default" nzSize="small">删除</button>
          </div>
        </div>
      </div>
    </nz-tab>
    <nz-tab nzTitle="文章">Content of Tab Pane 2</nz-tab>
  </nz-tabset>
  <ng-template #extraTemplate>
    <a nz-button nzType="link" [routerLink]="['/thought']"><span nz-icon nzType="plus" nzTheme="outline"></span>发表此刻</a>
  </ng-template>
</div>
