<div *ngFor="let item of list" class="item-wrapper">
  <ng-container *ngIf="item.type === ListType.Thought">
    <img
      *ngIf="item.avatar"
      class="avatar-s mr16"
      [src]="getAvatarUrl(item)"
      alt=""
    />
    <span
      *ngIf="!item.avatar"
      class="avatar-placeholder mr16"
      nz-icon
      nzType="user"
      nzTheme="outline"
    ></span>
    <div>
      <span class="item-user" (click)="jump(item.uid)">{{ item.name }}：</span>
      <span class="item-content">{{ item.content }}</span>
      <span class="item-time">{{
        item.createTime | date: "yyyy-MM-dd HH:mm:ss"
      }}</span>
    </div>
    <div class="item-btns">
      <button
        nz-button
        nzDanger
        nzType="default"
        nzSize="small"
        *ngIf="item.uid === selfId"
        (click)="onDeleteClick(item.id, item.type)"
      >
        删除
      </button>
    </div>
  </ng-container>
  <ng-container *ngIf="item.type === ListType.Journal">
    <img
      *ngIf="item.avatar"
      class="avatar-s mr16"
      [src]="getAvatarUrl(item)"
      alt=""
    />
    <span
      *ngIf="!item.avatar"
      class="avatar-placeholder mr16"
      nz-icon
      nzType="user"
      nzTheme="outline"
    ></span>
    <div>
      <div class="item-user" (click)="jump(item.uid)">{{ item.name }}：</div>
      <div class="item-content" [innerHTML]="sanitize(item.brief)"></div>
      <div class="item-time">
        {{ item.createTime | date: "yyyy-MM-dd HH:mm:ss" }}
      </div>
    </div>
    <div class="item-btns">
      <button
        nz-button
        nzType="primary"
        nzSize="small"
        class="mr8"
        (click)="onReadClick(item.id)"
      >
        阅读
      </button>
      <button
        nz-button
        nzDanger
        nzType="default"
        nzSize="small"
        *ngIf="item.uid === selfId"
        (click)="onDeleteClick(item.id, item.type)"
      >
        删除
      </button>
    </div>
  </ng-container>
</div>
