<div class="wrapper">
    <div class="title">Hi! Bro.</div>
    <form nz-form nzLayout="vertical" [formGroup]="form" (ngSubmit)="onRegister()">
        <div nz-row [nzGutter]="16">
            <div nz-col nzSpan="12">
                <nz-form-item>
                    <nz-form-label>用户名</nz-form-label>
                    <nz-form-control>
                        <input nzSize="small" nz-input placeholder="请输入用户名" formControlName="name" />
                    </nz-form-control>
                </nz-form-item>
            </div>
            <div nz-col nzSpan="12">
                <nz-form-item>
                    <nz-form-label>密码</nz-form-label>
                    <nz-form-control>
                        <input nzSize="small" nz-input type="password" placeholder="请输入密码" formControlName="password" />
                    </nz-form-control>
                </nz-form-item>
            </div>
            <div nz-col nzSpan="8">
                <nz-form-item>
                    <nz-form-label>生日</nz-form-label>
                    <nz-form-control>
                        <nz-date-picker nzSize="small" formControlName="birthday" class="w100p"></nz-date-picker>
                    </nz-form-control>
                </nz-form-item>
            </div>
            <div nz-col nzSpan="8">
                <nz-form-item>
                    <nz-form-label>身高(cm)</nz-form-label>
                    <nz-form-control>
                        <nz-input-number nzSize="small" formControlName="height" [nzMin]="1" [nzStep]="1" class="w100p"></nz-input-number>
                    </nz-form-control>
                </nz-form-item>
            </div>
            <div nz-col nzSpan="8">
                <nz-form-item>
                    <nz-form-label>体重(kg)</nz-form-label>
                    <nz-form-control>
                        <nz-input-number nzSize="small" formControlName="weight" [nzMin]="1" [nzStep]="1" class="w100p"></nz-input-number>
                    </nz-form-control>
                </nz-form-item>
            </div>
            <div nz-col nzSpan="24">
                <button nz-button nzType="primary" class="submit">注册</button>
            </div>
        </div>
    </form>
</div>