<div *ngFor="let item of list" class="item-wrapper">
  <ng-container *ngIf="item.type === ListType.Thought">
    <img class="avatar-s mr16" src="https://www.baidu.com/img/PCtm_d9c8750bed0b3c7d089fa7d55720d6cf.png" alt="">
    <div>
      <span class="item-content">{{item.content}}</span>
      <span class="item-time">{{item.createTime | date:'yyyy-MM-dd HH:mm:ss'}}</span>
    </div>
    <div class="item-btns">
      <button nz-button nzDanger nzType="default" nzSize="small" *ngIf="item.uid === selfId" (click)="onDeleteClick(item.id,item.type)">删除</button>
    </div>
  </ng-container>
</div>
