<div class="sec sec2">
  <nz-tabset
    [nzAnimated]="false"
    [(nzSelectedIndex)]="tabIdx"
    [nzTabBarExtraContent]="extraTemplate"
  >
    <nz-tab nzTitle="此刻">
      <div class="tab-wrapper">
        <app-list-item
          [list]="thoughtList"
          [uid]="uid"
          [selfId]="selfId"
          (delete)="onDeleteClick($event)"
        ></app-list-item>
      </div>
    </nz-tab>
    <nz-tab nzTitle="文章">
      <div class="tab-wrapper">
        <app-list-item
          [list]="journalList"
          [uid]="uid"
          [selfId]="selfId"
          (delete)="onDeleteClick($event)"
        ></app-list-item>
      </div>
    </nz-tab>
  </nz-tabset>
  <ng-template #extraTemplate>
    <a nz-dropdown [nzDropdownMenu]="publishMenu">
      <span nz-icon nzType="plus"></span>
      发表
    </a>
    <nz-dropdown-menu #publishMenu="nzDropdownMenu">
      <ul nz-menu>
        <li nz-menu-item [routerLink]="['/thought']">此刻</li>
        <li nz-menu-item [routerLink]="['/journal']">文章</li>
      </ul>
    </nz-dropdown-menu>
  </ng-template>
</div>
