<div class="sec sec2">
  <nz-tabset
    [nzAnimated]="false"
    [(nzSelectedIndex)]="tabIdx"
    [nzTabBarExtraContent]="extraTemplate"
  >
    <nz-tab nzTitle="此刻">
      <div class="tab-wrapper">
        <app-list-item
          [list]="thoughtList"
          [uid]="uid"
          [selfId]="selfId"
          (delete)="onDeleteClick($event)"
        ></app-list-item>
      </div>
    </nz-tab>
    <nz-tab nzTitle="文章">
      <div class="tab-wrapper">
        <app-list-item [list]="journalList"></app-list-item>
      </div>
    </nz-tab>
  </nz-tabset>
  <ng-template #extraTemplate>
    <a
      nz-button
      nzType="link"
      [routerLink]="tabIdx === 0 ? ['/thought'] : ['/journal']"
      ><span nz-icon nzType="plus" nzTheme="outline"></span>发表{{
        tabIdx === 0 ? "此刻" : "文章"
      }}</a
    >
  </ng-template>
</div>
