@import url(/src/variables.less);
.layout {
  min-height: 100vh;
}

.logo {
  height: 100%;
  color: #fff;
  margin: 0 24px 0 0;
  font-size: 22px;
  font-weight: bold;
}

nz-header {
  position: fixed;
  width: 100%;
  display: flex;
  background-color: @theme;
}

.nav{
  font-size: 16px;
  font-weight: bold;
}

[nz-menu] {
  line-height: 48px;
  flex-grow: 1;
}

nz-content {
  padding: 0 50px;
  margin-top: 64px;
}

nz-breadcrumb {
  margin: 16px 0;
}

nz-footer {
  text-align: center;
}

.setting{
  font-size: 20px;
  font-weight: bold;
}
