<div class="wrapper">
  <ng-container
    *ngIf="mode === JournalPageMode.Edit || mode === JournalPageMode.Create"
  >
    <input
      nz-input
      type="text"
      placeholder="请输入文章标题"
      [(ngModel)]="title"
      class="mb8"
    />
    <editor [init]="editorInitValue" (onInit)="onEditorInit()"></editor>
    <div class="btn">
      <button nz-button nzType="primary" (click)="onSubmit()">提交</button>
    </div>
  </ng-container>
  <ng-container *ngIf="mode === JournalPageMode.Read && journal">
    <div class="top">
      <div class="title">
        <span class="pr16">标题：{{ journal.title }}</span>
        <span>作者：{{ journal.name }}</span>
      </div>
      <div *ngIf="journal.uid === self.id">
        <a nz-button nzType="link" (click)="jumpToEdit()"
          ><span nz-icon nzType="edit" nzTheme="outline"></span>编辑</a
        >
      </div>
    </div>
    <div [innerHTML]="sanitize(journal.content)"></div>
    <div class="time">
      发布时间：{{ journal.createTime | date: "yyyy-MM-dd HH:mm:ss" }}
    </div>
  </ng-container>
</div>
