@import url(/src/variables.less);

:host {
  display: block;
}
.wrapper {
  background-color: #fff;
  padding: 16px;
}

.btn {
  margin-top: 16px;
}

.top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: @theme;
  border-bottom: 1px solid @theme-1-1;
  margin-bottom: 16px;
  height: 33px;
}

.title {
  font-weight: bold;
}

.time {
  color: @gray;
  border-top: 1px solid @theme-1-1;
  padding-top: 8px;
}
