<div class="wrapper">
  <ng-container *ngIf="!journalId">
    <editor [init]="editorInitValue"></editor>
    <div class="btn">
      <button nz-button nzType="primary" (click)="onSubmit()">提交</button>
    </div>
  </ng-container>
  <ng-container *ngIf="journal">
    <div class="name">
      作者：<span>{{ journal.name }}</span>
    </div>
    <div [innerHTML]="sanitize(journal.content)"></div>
    <div class="time">
      发布时间：{{ journal.createTime | date: "yyyy-MM-dd HH:mm:ss" }}
    </div>
  </ng-container>
</div>
